/* GENERAL SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    overflow-x: hidden;
    background-color: #f7f7f7;
    /* background-color: #0c0c14; */

}

/* TYPOGRAPHY */

@font-face {
    font-family: 'Vegan';
    src: url(./fonts/Indesign\ Signature.ttf);
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Vegan', sans-serif;
    color: white;
    font-size: 5em;
    /* z-index: 5; */
    top: -70%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    z-index: 20;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 2.4em;
    color: black;
}

h3 {
    /* font-family: 'Indesign'; */
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    color: #525252;
}

p {
    font-size: 0.9em;
}

.headerSubtext {
    font-size: 1.3em;
    text-transform: lowercase;
    letter-spacing: 0.3em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(225, 208, 26);
    opacity: 1;
    position: absolute;
    top: 5.8em;
    left: 0.1em;
    z-index: 1;
  }
  
.headerSubtext .letter {
    display: inline-block;
    line-height: 1em;
}

.skillsHeader {
    width: 100%;
}

.skills h3 {
    color: #525252;
    /* padding-top: 10px; */
}

.resume-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: auto;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #525252;
    background-color: #f7f7f7;
    z-index: -1;
} */

/* header {
    position: relative;
} */

nav {

    height: 20px;
    /* color: #E2E2E2; */
    /* color: #525252; */
    color: rgb(202, 70, 30);
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px 10px;
}

nav li a {
    color: white;
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

nav li a:hover {
    color: #0088a9;
}

/* #logo{
    font-size: 24px;
} */

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.heroParallax {
    background-image: url(./assets/woman.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    position: fixed;
    width: 100%;
    top: 55%;
    left: 5%;
    /* transform: translate(-15%); */
}

.main {
    background: #fff;
    position: relative;
    z-index: 200;
    margin-top: 50px;
}

.wrapper {
    /* margin: 50px 10%; */
    position: relative;
    margin: 0 0;
    padding: 50px 10%;
    /* width: 100vw; */
    display: grid;
    /* color: black; */
    /* background-color: #0c0c14; */
    z-index: 4;
}

.about-me {
    justify-items: center;
    text-align: center;
    background-color: white;
    /* float: left; */
}

.about-me-intro {
    width: 50%;
    margin: 0 auto;
}

.container {
    margin-bottom: 110px;
}

.aboutImg {
    /* float: left; */
    background-image: url(./assets/italy.jpg);
    height: 80vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 
.sectionHeader {
    background-size: contain;
    height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
} */

.skills {
    text-align: center;
    margin: 100px auto;
    display: flex;
    text-align: center;
}

.skillsImg {
    float: left;
    background-image: url(./assets/italy.jpg);
    height: 80vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skillsContainer {
    padding: 10px 80px;
}

.skillDetails {
    float: left;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    width: 50%;
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    align-items: left;
    /* justify-content: space-around; */
    justify-items: center;
}

.project-img {
    float: left;
    background-image: url(./assets/sketch.jpg);
    height: 60vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-summary {
    display: flex;
    padding: 0 10%;
    /* justify-content: center; */
}

.project-text {
    width: 100%;
    padding-left: 50px;
    position:relative;
}

.project-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    /* padding-top: 40px; */
    position:absolute; 
    text-align: center;
    bottom:0;
}


.project-container {
    /* max-width: fit-content; */
    background-color: #f7f7f7;
    position: relative;
    max-width: 1235px;
    margin: 0 10%;
    /* padding: 0 auto; */
    padding: 0 10%;
    z-index: 4;
    text-align: center;
    display: flex;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
    padding: 100px 10% 0 10%;
}

.project-item {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    border: 0.1px solid #bbbaba;
}

.project-item img {
    background-position: center;
    max-width:100%;
    max-height: auto;
}

.project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 5% 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: center;
}

.project-overlay:hover {
    opacity: 1;
    cursor: pointer;
}
/* 
.project-overlay:hover > * {
    transform: translateY(0);
} */

.project-overlay-title {
    font-family: 'EB Garamond', serif;
    font-size: 2.5em;
    /* font-weight: bold; */
}

.project-overlay-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-top: 0.25em;
}

.design-img {
    float: left;
    background-image: url(./assets/designImg.jpg);
    height: 60vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.design-summary {
    display: flex;
    padding: 100px 10% 0 10%;
    /* justify-content: center; */
}

.design-text {
    width: 100%;
    padding-left: 50px;
    position:relative;
}

.design-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    /* padding-top: 40px; */
    position:absolute; 
    text-align: center;
    bottom:0;
}


.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-item {
    /* height: 475px; */
    flex-basis: 100%;
    /* -ms-flex: auto; */
    height: fit-content;
    width: fit-content;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    /* border-radius: 15px;
    border: none; */
} 

.card-img-top {
    height: 230px;
    width: 285px;
    position: relative;
    /* border-radius: 15px; */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* border-radius: 15px;
    border: none; */
}

.overlay_blur {
    backdrop-filter: blur(5px);
}

.overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

.overlay_title {
    font-size: 1.25em;
    font-weight: bold;
}

.overlay_description {
    font-size: 1em;
    margin-top: 0.25em;
}

.btn-primary {
    /* background-color: rgb(202, 70, 30); */
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid #E76F51;
}

.btn-primary:hover {
    background-color: #E76F51;
    border: 2px solid #E76F51;
}

.btn-primary:focus {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.btn-primary:active {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.modal{
    width: 75%; /* respsonsive width */ 
}

.footer {
    position: relative;
}

.resume {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
    margin: 100px 0 0 0;
}

.resume-image {
    /* background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 10; */
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    /* overflow: hidden; */
    /* position: relative; */
    width: auto;
    height: 50%;
    /* top: -500px; */
}

.resume-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 10px 10px;
    /*border: transparent;
    border-radius: 6px;
    opacity: 0.9; */
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: 2px solid #E76F51;
    backdrop-filter: blur(2px);
}

.resume-btn:hover {
    background-color: #E76F51;
    border: 2px solid #E76F51;
}

.resume-btn:focus {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.resume-btn:active {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

/* .form-gradient {
    position: absolute;
    background: linear-gradient(to bottom, transparent, #0c0c14);
    top:45%;
    height: 20vh;
    width: 100%;
} */

.form-container {
    display: inline-block;
    background-color: #0c0c14;
    color: white;
    display: block;
    width: 100%;
    height: 400px;
    z-index: 6;
    position: absolute;
}

@media screen and (max-width: 800px) {
    /* .resume-image {
        top: -100px;
    }   */
    .skillDetails {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .grid-item {
        flex-basis: 50%;
    }

    .modal{
        width: 100%; /* respsonsive width */ 
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* .grid-item {
        flex-basis: 3%;
    } */

    .resume {
        height: fit-content;
    }

    .resume-image {
        width: 100%;
        height: auto;
        /* top: -500px; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid-item {
        flex-basis: 25%;
    }
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#btn-modal {
    color: #E76F51;
}

#btn-modal:hover {
    color: white;
}


  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  /* @media only screen and (max-device-width: 1366px) {
      .heroParallax {
          background-attachment: scroll;
      }
  } */