/* GENERAL SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #f7f7f7;

}

/* TYPOGRAPHY */

h3 {
    font-size: 12px;
    text-transform: uppercase;
    color:rgb(241, 96, 89);
}

.skill-details h3 {
    color: #525252;
    padding-top: 10px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: #525252; */
    background-color: #f7f7f7;
    z-index: -1;
}

header {
    position: relative;
}

nav {

    height: 20px;
    /* color: #E2E2E2; */
    /* color: #525252; */
    color: rgb(202, 70, 30);
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px 20px;
}

nav li a {
    color: white;
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: #0088a9;
}

#logo{
    font-size: 24px;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    z-index: 1;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vh;
    opacity: 0.05;
    z-index: 1;
}

.fog-img-first {
    background: url("./assets/fog1.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 60s linear infinite;
    animation-delay: 2s;
}

.fog-img-second {
    background: url("./assets/fog1.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 30s linear infinite;
    animation-delay: 2s;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0)
    }
    100% {
        transform: translate3d(-200vw, 0, 0)
    }
}

.testHeadline {
    position: absolute;
    /* height: 20%;
    width: 20%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img #testHeadline {
    background-size: contain;
    height: 20%;
    width: 20%;
    color: white;
}

.headline {
    position: absolute;
    top: 58%;
    left: 6%;
    font-size: 4em;
    transform: (translate(-20%, -70%));
    color: white;
    z-index: 3;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute; 
    opacity: 0.3;
    left: 0;
    top: 0;
}

.wrapper {
    margin: 50px 10%;
    padding: 0 0;
    /* width: 100vw; */
    display: grid;
    color: #525252;
}

.about-me-intro {
    color: rgb(202, 70, 30);

}

.sectionHeader {
    background-size: contain;
    height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    text-align: center;
    margin: 0 auto;
}

.skill-details {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    align-items: left;
    /* justify-content: space-around; */
    justify-items: center;
}

.project-container {
    /* max-width: fit-content; */
    max-width: 1235px;
    margin: 0 auto;
    padding: 0 auto;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-item {
    /* height: 475px; */
    flex-basis: 100%;
    /* -ms-flex: auto; */
    height: fit-content;
    width: fit-content;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    /* border-radius: 15px;
    border: none; */
} 

.card-img-top {
    height: 230px;
    width: 285px;
    position: relative;
    /* border-radius: 15px; */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* border-radius: 15px;
    border: none; */
}

.overlay_blur {
    backdrop-filter: blur(5px);
}

.overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

.overlay_title {
    font-size: 1.25em;
    font-weight: bold;
}

.overlay_description {
    font-size: 1em;
    margin-top: 0.25em;
}

.btn-primary {
    /* background-color: rgb(202, 70, 30); */
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid #E76F51;
}

.btn-primary:hover {
    background-color: #E76F51;
    border: 2px solid #E76F51;
}

.btn-primary:focus {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.btn-primary:active {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.resume {
    position: relative;
    /* width: 100%; */
    height: 300px;
    overflow: hidden;
    margin: 100px 0 0 0;
}

.resume-image {
    /* background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 10; */
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    overflow: hidden;
    /* position: relative; */
    width: auto;
    height: 100%;
    /* top: -500px; */
}

.resume-text {
    position: absolute;
    height: 15%;
    width: 15%;
    background-size: cover;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.resume-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 10px 10px;
    /*border: transparent;
    border-radius: 6px;
    opacity: 0.9; */
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: 2px solid #E76F51;
    backdrop-filter: blur(2px);
}

.resume-btn:hover {
    background-color: #E76F51;
    border: 2px solid #E76F51;
}

.resume-btn:focus {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.resume-btn:active {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.form-container {
    background-color: #252525;
    color: white;
    display: block;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 800px) {
    /* .resume-image {
        top: -100px;
    }   */
    .skill-details {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .grid-item {
        flex-basis: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* .grid-item {
        flex-basis: 3%;
    } */

    .resume {
        height: fit-content;
    }

    .resume-image {
        width: 100%;
        height: auto;
        /* top: -500px; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .grid-item {
        flex-basis: 33.33%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }


/*@media screen and (max-width: 400px) {
    .resume-image {
        top: 0px;
        height: 100%;
        width: auto;
    }  
} */

/* @media screen and (max-width:1199px) {
    .resume-image {
        top: 0;
        height: auto;
        width: 100%;
    }
}

@media screen and (min-width:1200px) {
    .resume-image {
        top: -500px;
    }
} */

