/* GENERAL SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    overflow-x: hidden;
    background-color: #f7f7f7;
    /* background-color: #0c0c14; */

}

#about, #projects, #resume, #contact {
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: 'Vegan';
    src: url(./fonts/Indesign\ Signature.ttf);
    font-style: normal;
    font-weight: 400;
}

h1 {
    /* font-family: 'Vegan', sans-serif; */
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 5em;
    /* z-index: 5; */
    top: -70%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    z-index: 20;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 2.4em;
    color: black;
}

h3 {
    /* font-family: 'Indesign'; */
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    color: #525252;
}

p {
    font-size: 0.9em;
}

.headerSubtext {
    font-size: 1.3em;
    text-transform: lowercase;
    letter-spacing: 0.3em;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
    opacity: 1;
    position: absolute;
    top: 4.5em;
    left: 0.2em;
    z-index: 1;
  }
  
.headerSubtext .letter {
    display: inline-block;
    line-height: 1em;
}

.skillsHeader {
    width: 100%;
}

.skills h3 {
    color: #525252;
    /* padding-top: 10px; */
}

.resume-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: auto;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.navbar {
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: 60;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 65px 0 0;
    margin: 0;
}

.logo {
    height: 80px;
    width: 80px;
}

#menu-toggle {
    display: block;
    position: relative;
    top: 10px;
    right: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
    
#menu-toggle a:hover {
    color: #E76F51;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  /* background: #cdcdcd; */
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(0px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-toggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 600px;
  margin: -100px 0 0 0;
  padding: 50px;
  /* padding-top: 125px; */
  right: -100px;
  
  /* background: #ededed; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 1em;
}

/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px 0 0 20px;
}

/* nav li a {
    color: black;
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

nav li a:hover {
    color: #E76F51;
    text-decoration: none;
} */

/* #logo{
    font-size: 24px;
} */

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0 80px;
}

.heroParallax {
    background-image: url(./assets/tabletop2.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

.headline {
    display: flex;
    position: fixed;
    height: 1px;
    width: 100%;
    top: 60%;
    left: 30%;
    /* transform: translate(-50%); */
}

.main {
    background: #fff;
    position: relative;
    /* z-index: 200; */
    padding-top: 50px;
}

.wrapper {
    /* margin: 50px 10%; */
    position: relative;
    margin: 0 0;
    padding: 100px 10%;
    /* width: 100vw; */
    display: grid;
    /* color: black; */
    /* background-color: #0c0c14; */
    z-index: 4;
}

.about-me {
    justify-items: center;
    text-align: center;
    background-color: white;
    float: left;
    padding-bottom: 60px;
}

.about-me-intro {
    width: 50%;
    margin: 0 auto;
}

.container {
    margin-bottom: 110px;
}

.aboutImg {
    /* float: left; */
    background-image: url(./assets/italy2.jpg);
    height: 80vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 
.sectionHeader {
    background-size: contain;
    height: 20%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
} */

.skills {
    text-align: center;
    margin: 100px auto;
    display: flex;
    text-align: center;
}

.skillsImg {
    float: left;
    background-image: url(./assets/italy.jpg);
    height: 80vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skillsContainer {
    padding: 10px 80px;
}

/* .skillDetails {
    float: left;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    width: 50%;
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    align-items: left;
    justify-content: space-around;
    justify-items: center;
} */

.project-img {
    float: left;
    background-image: url(./assets/sketch.jpg);
    height: 60vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-summary {
    display: flex;
    padding: 0 10%;
    /* margin-top: 500px; */
    /* justify-content: center; */
    /* margin-top: 300px; */
}

.project-text {
    width: 100%;
    padding-left: 50px;
    position:relative;
}

.project-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    /* padding-top: 40px; */
    position:absolute; 
    text-align: center;
    bottom:0;
}

/* 
.project-container {
    background-color: #f7f7f7;
    position: relative;
    max-width: 1235px;
    margin: 0 10%;
    padding: 0 10%;
    z-index: 4;
    text-align: center;
    display: flex;
} */

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
    padding: 100px 10% 0 10%;
}

.project-item {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    border: 0.1px solid #bbbaba;
}

.project-item img {
    background-position: center;
    max-width:100%;
    max-height: auto;
}

.project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 5% 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: center;
}

.project-overlay:hover {
    opacity: 1;
    cursor: pointer;
}
/* 
.project-overlay:hover > * {
    transform: translateY(0);
} */

.project-overlay-title {
    font-family: 'EB Garamond', serif;
    font-size: 2.2em;
    line-height: 1;
    /* font-weight: bold; */
}

.project-overlay-description {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    margin-top: 0.25em;
}

.design-img {
    float: left;
    background-image: url(./assets/designImg.jpg);
    height: 60vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.design-summary {
    display: flex;
    padding: 100px 10% 0 10%;
    /* justify-content: center; */
}

.design-text {
    width: 100%;
    padding-right: 50px;
    position:relative;
}

.design-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding-right: 50px;
    position:absolute; 
    text-align: center;
    bottom:0;
}

.design-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
    padding: 100px 10% 0 10%;
}

.design-item {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    border: 0.1px solid #bbbaba;
}

.design-item img {
    background-position: center;
    max-width:100%;
    height: auto;
    overflow: hidden;
}

.resume-image {
    /* float: left; */
    background-image: url(./assets/italy.jpg);
    height: 80vh;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #illustration {
    max-width: auto;
    height: 100%;
} */

/* .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-item {
    flex-basis: 100%;
    height: fit-content;
    width: fit-content;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
} 

.card-img-top {
    height: 230px;
    width: 285px;
    position: relative;
} */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* border-radius: 15px;
    border: none; */
}

.overlay_blur {
    backdrop-filter: blur(5px);
}

.overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

.overlay_title {
    font-size: 1.25em;
    font-weight: bold;
}

.overlay_description {
    font-size: 1em;
    margin-top: 0.25em;
}

form {
    width: 320px;
    float: left;
    margin: 20px;
}

form div {
    position: relative;
    overflow: hidden;
}


.form-container {
    display: inline-block;
    background-color: white;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 6;
    position: absolute;
    text-align: center;
}

.form-container h2 {
    color: black;
    text-align: center;
}

.form-details {
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

.btn-primary {
    /* background-color: rgb(202, 70, 30); */
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid #E76F51;
}

.btn-primary:hover {
    background-color: #E76F51;
    border: 2px solid #E76F51;
}

.btn-primary:focus {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.btn-primary:active {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.modal{
    width: 75%; /* respsonsive width */ 
}

.footer {
    position: relative;
}

.resume {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
    margin: 100px 0 0 0;
}

.resume-image {
    /* background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 10; */
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    /* overflow: hidden; */
    /* position: relative; */
    width: auto;
    height: 50%;
    /* top: -500px; */
}

.resume-text-background {
    background-color: black;
    height: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    z-index: 600; */
}

.resume-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 10px 10px;
    /*border: transparent;
    border-radius: 6px;
    opacity: 0.9; */
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: 2px solid #E76F51;
    backdrop-filter: blur(2px);
}

.resume-btn:hover {
    background-color: #E76F51;
    border: 2px solid #E76F51;
}

.resume-btn:focus {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}

.resume-btn:active {
    background-color: #E76F51;
    border: 2px solid #E76F51;
    outline: none;
}



/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .grid-item {
        flex-basis: 50%;
    }

    .modal{
        width: 100%; /* respsonsive width */ 
    /* }
}  */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {  */
    /* .grid-item {
        flex-basis: 3%;
    } */

    /* .resume {
        height: fit-content;
    }

    .resume-image {
        width: 100%;
        height: auto;
        /* top: -500px; */
    /* }
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .grid-item {
        flex-basis: 25%;
    }
} */


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#btn-modal {
    color: #E76F51;
}

#btn-modal:hover {
    color: white;
}


  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  /* @media only screen and (max-device-width: 1366px) {
      .heroParallax {
          background-attachment: scroll;
      }
  } */

  /* On screens that are 992px or less, set the background color to blue */
  /* ipad */
  @media screen and (max-width: 1024px) {
    #menu {
        width: 300px;
        /* margin: -100px 0 0 0; */
        padding: 50px;
        padding-top: 125px;
        right: -100px;
    }
    nav li {
        display: block;
    }

    .main {
      background-color: pink;
      padding-top: 0;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .headerSubtext {
        font-size: 1em;
    }

    .project-img {
        background-image: url(./assets/sketchThumb2.jpg);
        height: 30vh;
    }

    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 0px;
        /* padding: 0px 50% 0 50%; */
    }

    .design-img {
        background-image: url(./assets/designImgThumb.jpg);
        height: 30vh;
    }
    
    .aboutImg {
        height: 50vh;
    }

    .form-container {
        height: 40vh;
    }

    .form-details {
        width: 700px;
    }

    form {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 45px;
    }

  }

  /* On screens that are 992px or less, set the background color to blue */
  /* ipad */
@media screen and (max-width: 992px) {
    .main {
      background-color: blue;
    }

    /* .projects-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap:0;
        grid-row-gap: 30px;
        padding: 100px 10% 0 10%;
    } */

    .project-skills {
        grid-column-gap: 10px;
    }

    .design-skills {
        /* padding-right: 50px; */
        grid-column-gap: 10px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    /* body {
        width: 100vw;
    } */
    
    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 2em;
    }

    .headerSubtext {
        font-size: 0.8em;
        font-weight: normal;
        top: 3.5em;
    }

    .form-container h2 {
        font-size: 1.6em;
    }

    .main {
      background-color: olive;
    }

    /* .heroParallax {
        height: 80vh;
    } */

    .hero {
        margin: 0;
        /* height: 80vh; */
    }

    .headline {
        top: 55%;
        left: 6%;
        /* transform: translate(-50%); */
    }

    .project-summary {
        display: inline-block;
        height: fit-content;
    }

    .project-text {
        padding-left: 0;
        /* grid-column-gap: 10px 0px 0px; */
    }

    .project-skills {
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
    }

    .projects-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-top: 50px;
    }

    .design-summary {
        display: inline-block;
        height: fit-content;
        padding-top: 50px;
    }

    .design-text {
        padding-right: 0;
    }

    .design-skills {
        position: relative;
    }

    .design-img {
        background-image: none;
        height: 0;
    }

    .design-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-top: 50px;
    }

    .aboutImg {
        height: 50vh;
    }

    .aboutImg {
        height: 100vh;
    }

    .form-container {
        height: 70vh;
    }

    form {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 25px;
    }

    .form-details {
        width: 300px;
        padding-top: 20px;
        /* clear: both; */
    }

  }

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }